site_name: k3etcd
site_description: Python client for etcd server version 2.3.x and later
site_url: https://k3etcd.readthedocs.io
repo_url: https://github.com/pykit3/k3etcd
repo_name: pykit3/k3etcd

theme:
  name: material
  palette:
    primary: blue
    accent: blue

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            show_source: true
            show_root_heading: true
            heading_level: 2

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
